
body {
    font-family: Arial, sans-serif;
    background-color: hwb(104 70% 18%);
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensures the image covers the whole screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

h1 {
    text-align: center;
    color: hwb(116 18% 26%);
}



.container {
    width: 50%;
    margin: 50px auto;
    align-content: normal;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ae6345dd;
}

