
body {
    font-family: Arial, sans-serif;
    background-color: #7accc1;
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensures the image covers the whole screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

h1 {
    text-align: center;
    color: #443b1b;
}

div{
    align-items: center;
    padding-top: 20%;
    min-height: max-content;
    
}



.container {
    width: 50%;
    margin: 50px auto;
    align-content: normal;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px hsla(17, 43%, 48%, 0.867);
}

